.scroll-button {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 80vh;
    align-self: center;
    width: 150px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0);
    border: 3px solid white;
    z-index: 5;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    animation: text-in-smooth 1s ease-in-out;
    animation-delay: 7s;
    animation-fill-mode: forwards;
    text-decoration: none;
    transition: 0.5s;
}

.scroll-button:hover {
    background-color: rgb(255, 255, 255);
    color: black
}

@keyframes text-in-smooth {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }

}