.aboutSection {
    display: flex;
    padding: 5vh 0 5vh 0;
    flex-direction: column;
    width: 100vw;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(58, 64, 74, 1) 50%);
    align-items: center;

    .about-header {
        margin: 25vh 0 0 0;
        padding: 0;
        margin-left: 20px;
        margin-bottom: 10px;
        font-family: 'Oswald', sans-serif;
        align-self: center;
        color: #ffffff;
    }

    #about {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;

        .about-in {
            animation: text-in-smooth 0.5s ease-in-out;
            animation-delay: 0.1s;
            animation-fill-mode: forwards;
        }

        .extraMarginTop {
            margin-top: 60px
        }

        .about-element {
            opacity: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-family: 'Oswald', sans-serif;

            .about-pic {
                margin: 20vh 0 20vh 0;
                width: 40vw;
                box-shadow: 10px 10px 35px rgb(0, 0, 0);
                transform: rotate(4deg);
            }

            .rotate-opposite {
                transform: rotate(-4deg);
            }

            .about-pic-mobile {
                width: 80vw;
                box-shadow: 10px 10px 35px rgb(0, 0, 0);
            }

            .about-title {
                padding: 0 2vw 0 2vw;
                font-size: 4vw;
                font-family: 'Oswald', sans-serif;
                color: #7BC74D;
                text-shadow: 5px 5px 10px rgb(0, 0, 0);
            }

            .about-title-mobile {
                font-size: 10vw;
                font-family: 'Oswald', sans-serif;
                color: #7BC74D;
                text-shadow: 5px 5px 10px rgb(0, 0, 0);
            }

            .element-par {
                font-size: 2vw;
                padding: 2vw;
                width: 45vw;
                color: #ffffff;
                text-align: center;
                font-family: 'Ubuntu', sans-serif;
            }

            .element-par-mobile {
                font-size: 6vw;
                margin-bottom: 20vh;
                padding: 5vw 5vw 0 5vw;
                width: 80vw;
                color: #ffffff;
                text-align: start;
                font-family: 'Ubuntu', sans-serif;
            }
        }
    }
}

@keyframes about-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }

}