.nav {
    position: fixed;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    width: 100vw;
    height: 50px;
    background-color: #2C2727;
    padding: 20px 0px 20px 0px;
    user-select: none;
    transition-duration: 0.1s;
    z-index: 7;

    .nav-link {
        margin: 0 30px 0 0;
        padding: 0;
        font-size: 1rem;
        text-decoration: none;
        font-weight: 500;
        color: #E5BA73;
        font-family: 'Oswald', sans-serif;

    }
    .active {
        text-decoration: underline;
        text-decoration-color: #E5BA73;
        text-decoration-thickness: 5px;
    }
}

.nav-hidden {
    opacity: 0;
}
